{% extends 'learnify/base.html' %}

{% block content %}
<h2 class="about-header">About Us</h2>
<section class="about-body">
    <section class="about-container">
        <article class="about-article">
            <img class="about-pic" src="/static/media/images/addisonabout.png">
            <h3>Addison Moore</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facilis sint consectetur possimus
                provident
                similique dolor pariatur adipisci enim optio et ullam ipsa fuga tenetur sapiente, molestiae repellendus
                nostrum quo?</p>
        </article>
        <div class="about-separator"></div>
        <article class="about-article">
            <img class="about-pic" src="/static/media/images/harrybitmoji.jpeg">
            <h3>Harry Stacey</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repudiandae doloribus rerum amet
                perspiciatis
                facere eligendi, officia doloremque corporis assumenda alias aut distinctio vero fugiat quis? Culpa
                temporibus nostrum doloremque.</p>
        </article>
        <div class="about-separator"></div>
        <article class="about-article">
            <img class="about-pic" src="/static/media/images/kennyprofile.jpg">
            <h3>Kenny Downs</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam esse possimus harum, vitae
                quidem
                nemo architecto earum, modi alias perspiciatis iure repellat ab explicabo, ullam distinctio molestias
                ratione expedita.</p>
        </article>
    </section>
</section>
{% endblock %}