{% extends 'learnify/base.html' %}


{% block content %}
    {% if user.is_authenticated %}
    <div class="course-create">
        <h1 class="new-course">Edit course</h1>
        <div class="create-course-div">
            <form enctype="multipart/form-data" class="new-course-form" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button id="course-edit-submit" type="submit" class="save btn btn-default">Save</button>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}
<script>console.log("javascript working")</script>